

<div class = "container">
  <div class = "row">
    <div class = "row">
      <div class = "col l12">
        <h1>Welcome to the Web Scraper!</h1>
        <h3>Lets get started?</h3>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col l5"> 
    </div>
    <div class = "col l2 offset-15">
      <form method ="GET" action="/dashboard">
        <button class = "btn btn-default z-depth-5" type="submit">Enter</button>
      </form>
    </div>
  </div>
</div>

