

<div class = "container">
  <div class = "row">
    <div class = "col l12">
      <div class = "row">
        <div class = "col l12 title">
          <h2>MLB Trade Rumors Scraper</h2>
        </div>
      </div>
      <div class = "row">
        <div class = "col l3">
        </div>
        <div class = "col l6 title">
          <h3>Lets get started?</h3>
        </div>
        <div class = "col l3">
        </div>
      </div>
    </div> 
  </div>
  <div class = "row">
    <div class = "col l5"> 
    </div>
    <div class = "col l1">
      <form method ="GET" action="/dashboard">
        <button class = "btn waves-effect waves-light btn #616161 grey darken-2 z-depth-5" type="submit">Enter</button>
      </form>
    </div>
    <div class = "col l6">
    </div>
  </div>
</div>

